<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">

            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Simple Tableee</h4>
                            <p class="card-category"> Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive project-list">
                                <table class="table project-table table-centered table-nowrap">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom de la sociéte </th>
                                            <th scope="col">Date de creation</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">avatar</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>New admin Design</td>
                                            <td>02/5/2019</td>
                                            <td>
                                                <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>  Moyenne Entreprise</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gerald Mayberry">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>
                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Landing page Design</td>
                                            <td>04/6/2019</td>
                                            <td>
                                                <span class="text-primary font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> startup</span>
                                            </td>
                                            <td>
                                                <div class="team">

                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Scott Jessie">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>
                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Multipurpose Landing Template</td>
                                            <td>06/6/2019</td>
                                            <td>
                                                <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>  Moyenne Entreprise</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Neil Wing">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>
                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Blog Template Design</td>
                                            <td>07/5/2019</td>
                                            <td>
                                                <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>  Moyenne Entreprise</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Roger Drake">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Brand logo design</td>
                                            <td>08/6/2019</td>
                                            <td>
                                                <span class="text-primary font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> startup</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Deborah Mixon">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Redesign - Landing page</td>
                                            <td>10/6/2019</td>
                                            <td>
                                                <span class="text-primary font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> startup</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Neil Wing">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>


                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">7</th>
                                            <td>Redesign - Dashboard</td>
                                            <td>12/5/2019</td>
                                            <td>
                                                <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>  Moyenne Entreprise</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Roger Drake">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">8</th>
                                            <td>Landing page Design</td>
                                            <td>13/6/2019</td>
                                            <td>
                                                <span class="text-primary font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i> startup</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Deborah Mixon">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">9</th>
                                            <td>Multipurpose Landing Template</td>
                                            <td>15/6/2019</td>
                                            <td>
                                                <span class="text-success font-12"><i class="mdi mdi-checkbox-blank-circle mr-1"></i>  Moyenne Entreprise</span>
                                            </td>
                                            <td>
                                                <div class="team">
                                                    <a href="javascript: void(0);" class="team-member" data-toggle="tooltip" data-placement="top" title="" data-original-title="Neil Wing">
                                                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="rounded-circle avatar-xs" alt="" />
                                                    </a>

                                                </div>
                                            </td>


                                            <td>
                                                <div class="action">
                                                    <a href="#" class="text-success mr-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"> <i class="fa fa-pencil h5 m-0"></i></a>
                                                    <a href="#" class="text-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close"> <i class="fa fa fa-remove h5 m-0"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- end project-list -->

                            <div class="pt-3">
                                <ul class="pagination justify-content-end mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>